<div class="conatiner-social-media">
    <div class="title-actions">
        <p>To continue, log in to Spotify</p>
    </div>
    <div class="container-buttons">
        <button class="button-facebook">
            <img src="../../../assets/svg/facebook.svg" alt="facebook">
            CONTINUE WITH FACEBOOK
        </button>
        <button class="button-apple">
            <img src="../../../assets/svg/apple.svg" alt="apple">
            CONTINUE WITH APPLE
        </button>
        <button class="button-google">
            <img src="../../../assets/svg/google.svg" alt="google">
            CONTINUE WITH GOOGLE
        </button>
    </div>
</div>
