<div class="container-login">
    <nav>
        <img src="../../../assets/svg/logo-black.svg" alt="spotify">
    </nav>
    <div class="container-access">
        <div class="access-social-media">
            <app-access-with-social-media></app-access-with-social-media>
        </div>
        <div class="or">
           <div class="line"></div>
           <div class="letter">OR</div>
           <div class="line"></div>
        </div>
        <div class="access-email">
            <app-access-with-email></app-access-with-email>
        </div>
    </div>
</div>
