.container-full {
    display: grid;
    grid-template-rows: 85% auto;
    height: 100vh;
    .container {
        display: grid;
        grid-template-columns: 20% auto;
    }
    .container-primary {
        background: var(--background-highlight);
        color: var(--text-base);
    }
    .media-player{
        z-index: 1;
    }
}


