@mixin section_grid($width, $gap) {
    display: grid;
    gap: $gap;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, $width), 1fr));
}



.section--generic {
    margin-bottom: 2rem;
    .section--generic__title{
        margin-bottom: 10px
    }
    .card-small{
        @include section_grid(20rem, 10px 15px);
    }

    .card-big{
        @include section_grid(12rem, 0px 0px);
    }
    
}
